<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('게시판')">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" th:href="@{/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" th:href="@{/starter-template.css}" rel="stylesheet">

    <title>게시판</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:replace="fragments/common :: menu('board')">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Spring Boot Tutorial</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">홈</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">게시판</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>-->
                </ul>
                <!--<form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>-->
            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="container">
    <h1>게시판</h1>
    <div>총 건수 : <span th:text="${boards.totalElements}"></span></div>

    <form class="row g-3 d-flex flex-row-reverse bd-highlight" method="get" th:action="@{/board/list}">
        <div class="col-auto">
            <button type="submit" class="btn btn btn-light mb-3">검색</button>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="searchText" name="searchText" placeholder="Title or Content"
                    th:value="${param.searchText}"/>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.id}">id</td>
                <td><a th:text="${board.title}" th:href="@{/board/form(id=${board.id})}">title</a></td>
                <td th:text="${board.user.username}">Joseph</td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${1 == boards.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" th:href="@{/board/list/(page=${boards.pageable.pageNumber - 1},searchText=${param.searchText})}" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item" th:classappend="${i == boards.pageable.pageNumber + 1} ? 'disabled'" th:each="i:${#numbers.sequence(startPage,endPage)}">
                <a class="page-link" th:href="@{/board/list/(page=${i - 1},searchText=${param.searchText})}" href="#" th:text="${i}">1</a></li>
            <li class="page-item" th:classappend="${boards.totalPages == boards.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" th:href="@{/board/list/(page=${boards.pageable.pageNumber + 1},searchText=${param.searchText})}" href="#">Next</a>
            </li>
        </ul>
    </nav>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a type="button" class="btn btn-primary" th:href="@{/board/form}">쓰기</a>
    </div>
</main>
</body>
</html>